<div class="column-layout person">
  <div class="column-layout header">
    <div class="column-layout group">
      <div class="row-layout left">
        <h6 class="rapid-fission-inc">
          Rapid Fission Inc.
        </h6>
        <div class="row-layout buttons">
          <button igxButton="flat" igxRipple class="button">
            Home
          </button>
          <button igxButton="flat" igxRipple class="button">
            My info
          </button>
          <button igxButton="flat" [disabled]="true" igxRipple class="button_1">
            People
          </button>
          <button igxButton="flat" [disabled]="true" igxRipple class="button_1">
            My files
          </button>
        </div>
      </div>
    </div>
    <div class="column-layout group_1">
      <div class="border"></div>
    </div>
    <div class="row-layout right">
      <button igxButton="icon" igxRipple class="button_2">
        <igx-icon>
          notifications
        </igx-icon>
      </button>
      <igx-avatar src="/assets/b19ca11ab1662964f651cf3fe1b49fb6e9f90875.png" shape="circle" class="avatar"></igx-avatar>
    </div>
  </div>
  <div class="row-layout home">
    <div class="ribbon"></div>
    <div class="column-layout title-and-content">
      <div class="row-layout title">
        <igx-avatar src="/assets/b19ca11ab1662964f651cf3fe1b49fb6e9f90875.png" size="large" shape="circle" class="avatar"></igx-avatar>
        <div class="column-layout group_2">
          <div class="column-layout group_3">
            <h4 class="erin-brockovich">
              Erin Brockovich
            </h4>
            <p class="ig-typography__subtitle-1 water-quality-specialist">
              Water Quality Specialist
            </p>
          </div>
          <div class="column-layout group_4">
            <div class="row-layout buttons_1">
              <button igxButton="flat" igxRipple class="button_3">
                Personal
              </button>
              <button igxButton="flat" igxRipple class="button_4">
                job
              </button>
              <button igxButton="flat" igxRipple class="button_4">
                time-off
              </button>
              <button igxButton="flat" igxRipple class="button_4">
                emergency
              </button>
              <button igxButton="flat" igxRipple class="button_4">
                documents
              </button>
              <button igxButton="flat" igxRipple class="button_4">
                benefits
              </button>
              <button igxButton="flat" igxRipple class="button_4">
                pay info
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row-layout content">
        <div class="row-layout content_1">
          <div class="column-layout left_1">
            <div class="column-layout hire-dates">
              <div class="column-layout group_5">
                <p class="ig-typography__subtitle-2 hire-date">
                  Hire Date
                </p>
              </div>
              <div class="column-layout group_6">
                <p class="ig-typography__body-2 feb-01-2010">
                  Feb 01, 2010
                </p>
                <p class="ig-typography__caption y-10m-7d">
                  10y-10m-7d
                </p>
              </div>
            </div>
            <div class="column-layout specialties">
              <div class="row-layout waste-water">
                <igx-icon class="icon">
                  waves
                </igx-icon>
                <p class="ig-typography__body-2 waste-water-mgmt">
                  Waste water mgmt
                </p>
              </div>
              <div class="row-layout nuclear-disposal">
                <div class="row-layout group_7">
                  <igx-icon class="icon">
                    business
                  </igx-icon>
                  <p class="ig-typography__body-2 nuclear-disposal_1">
                    Nuclear disposal
                  </p>
                </div>
              </div>
              <div class="row-layout address">
                <igx-icon class="icon">
                  place
                </igx-icon>
                <p class="ig-typography__body-2 california-usa">
                  California, USA
                </p>
              </div>
            </div>
            <div class="column-layout manager">
              <p class="ig-typography__subtitle-2 manager_1">
                Manager
              </p>
              <div class="row-layout person_1">
                <igx-avatar src="/assets/1737495fa8ec3f098d79abfbc023d06be0fd5af5.png" shape="circle" class="avatar"></igx-avatar>
                <p class="ig-typography__body-2 donnie-darko">
                  Donnie Darko
                </p>
              </div>
            </div>
          </div>
          <div class="column-layout right_1">
            <div class="row-layout personal">
              <igx-icon class="icon_1">
                perm_contact_calendar
              </igx-icon>
              <h6 class="personal_1">
                Personal
              </h6>
            </div>
            <p class="ig-typography__subtitle-1 basic-information">
              Basic Information
            </p>
            <div class="row-layout name">
              <igx-input-group type="border" class="input">
                <input type="text" placeholder="Erin" [disabled]="true" igxInput />
                <label igxLabel>First name</label>
              </igx-input-group>
              <igx-input-group type="border" class="input">
                <input type="text" [disabled]="true" igxInput />
                <label igxLabel>Middle name</label>
              </igx-input-group>
              <igx-input-group type="border" class="input">
                <input type="text" placeholder="Brockovich" [disabled]="true" igxInput />
                <label igxLabel>Last name</label>
              </igx-input-group>
            </div>
            <div class="row-layout details">
              <igx-select type="border" class="select">
                <label igxLabel>Label/Placeholder</label>
              </igx-select>
              <igx-select type="border" class="select">
                <label igxLabel>Label/Placeholder</label>
              </igx-select>
            </div>
            <igx-input-group type="border" class="input_1">
              <input type="text" placeholder="123 Wallaby Lane" igxInput />
              <label igxLabel>Address*</label>
            </igx-input-group>
            <div class="row-layout adress">
              <igx-input-group type="border" class="input_2">
                <input type="text" placeholder="Sacramento" igxInput />
                <label igxLabel>City*</label>
              </igx-input-group>
              <igx-input-group type="border" class="input_3">
                <input type="text" placeholder="CA" igxInput />
                <label igxLabel>State*</label>
              </igx-input-group>
              <igx-input-group type="border" class="input_2">
                <input type="text" placeholder="94203" igxInput />
                <label igxLabel>Zip/Postal Code *</label>
              </igx-input-group>
            </div>
            <p class="ig-typography__subtitle-1 contact">
              Contact
            </p>
            <div class="row-layout phones">
              <igx-input-group type="border" class="input">
                <igx-prefix>
                  <igx-icon class="icon_2">
                    home
                  </igx-icon>
                </igx-prefix>
                <input type="text" placeholder="Home phone" igxInput />
                <label igxLabel>Label/Placeholder</label>
              </igx-input-group>
              <igx-input-group type="border" class="input">
                <igx-prefix>
                  <igx-icon class="icon_2">
                    business
                  </igx-icon>
                </igx-prefix>
                <input type="text" placeholder="Work phone" igxInput />
                <label igxLabel>Label/Placeholder</label>
              </igx-input-group>
              <igx-input-group type="border" class="input">
                <igx-prefix>
                  <igx-icon class="icon_2">
                    person
                  </igx-icon>
                </igx-prefix>
                <input type="text" placeholder="Mobile phone" igxInput />
                <label igxLabel>Label/Placeholder</label>
              </igx-input-group>
            </div>
          </div>
        </div>
      </div>
      <div class="row-layout group_8">
        <p class="ig-typography__body-2 c-2020-rapid-fission-inc">
          (c) 2020 Rapid Fission Inc.
        </p>
      </div>
    </div>
  </div>
</div>
