<div class="column-layout home">
  <div class="column-layout header">
    <div class="column-layout group">
      <div class="row-layout left">
        <h6 class="rapid-fission-inc">
          Rapid Fission Inc.
        </h6>
        <div class="row-layout buttons">
          <button igxButton="flat" igxRipple class="button">
            Home
          </button>
          <button igxButton="flat" igxRipple class="button">
            My info
          </button>
          <button igxButton="flat" [disabled]="true" igxRipple class="button_1">
            People
          </button>
          <button igxButton="flat" [disabled]="true" igxRipple class="button_1">
            My files
          </button>
        </div>
      </div>
    </div>
    <div class="column-layout group_1">
      <div class="border"></div>
    </div>
    <div class="row-layout right">
      <button igxButton="icon" igxRipple class="button_2">
        <igx-icon>
          notifications
        </igx-icon>
      </button>
      <igx-avatar src="/assets/b19ca11ab1662964f651cf3fe1b49fb6e9f90875.png" shape="circle" class="avatar"></igx-avatar>
    </div>
  </div>
  <div class="row-layout person">
    <div class="ribbon"></div>
    <div class="column-layout title-and-content">
      <div class="row-layout title">
        <igx-icon class="icon">
          home
        </igx-icon>
        <h4 class="home_1">
          Home
        </h4>
      </div>
      <div class="row-layout content">
        <div class="column-layout left_1">
          <div class="column-layout group_2">
            <div class="row-layout profile">
              <igx-avatar src="/assets/b19ca11ab1662964f651cf3fe1b49fb6e9f90875.png" size="medium" shape="circle" class="avatar"></igx-avatar>
              <div class="column-layout text">
                <h5 class="erin-brockovich">
                  Erin Brockovich
                </h5>
                <p class="water-quality-special">
                  Water quality specialist
                </p>
              </div>
            </div>
            <div class="row-layout summary">
              <div class="column-layout open-pto">
                <p class="ig-typography__subtitle-2 open-pto_1">
                  Open PTO
                </p>
                <igx-icon class="icon_1">
                  date_range
                </igx-icon>
                <p class="ig-typography__body-2 days-used-ytd">
                  8.5 days used (YTD)
                </p>
                <p class="ig-typography__caption day-scheduled">
                  1 day scheduled
                </p>
              </div>
              <div class="column-layout bereavement-leave">
                <p class="ig-typography__subtitle-2 bereavement-leave_1">
                  Bereavement leave
                </p>
                <div class="row-layout group_3">
                  <h6 class="h6">
                    0.0
                  </h6>
                  <igx-icon class="icon_2">
                    date_range
                  </igx-icon>
                </div>
                <p class="ig-typography__body-2 days-available">
                  Days available
                </p>
                <p class="ig-typography__caption day-scheduled_1">
                  0 day scheduled
                </p>
              </div>
            </div>
            <div class="row-layout actions">
              <button igxButton="raised" igxRipple class="button_3">
                <igx-icon>
                  send
                </igx-icon>
                <span>request time off</span>
              </button>
              <button igxButton="icon" igxRipple class="button_4">
                <igx-icon>
                  mail
                </igx-icon>
              </button>
            </div>
            <div class="column-layout list">
              <p class="ig-typography__subtitle-2 whats-the-buzz">
                What's the buzz
              </p>
              <igx-list class="list_1">
                <igx-list-item [isHeader]="false">
                  <span igxListThumbnail>
                    <igx-avatar src="/assets/79697a81c543fd0f28c08f34cfac653976403343.png" shape="circle" class="avatar"></igx-avatar>
                  </span>
                  <span igxListLineTitle>Ethan Hunt</span>
                  <span igxListLineSubTitle>Birthday, Oct 1</span>
                  <span igxListAction>
                    <igx-icon class="icon_3">
                      cake
                    </igx-icon>
                  </span>
                </igx-list-item>
                <igx-list-item [isHeader]="false">
                  <span igxListThumbnail>
                    <igx-avatar src="/assets/0ecd56ad55e9ea835b6923b49885f21b3e41a38f.png" shape="circle" class="avatar"></igx-avatar>
                  </span>
                  <span igxListLineTitle>Luke Skywalker</span>
                  <span igxListLineSubTitle>25th work-anniversary</span>
                  <span igxListAction>
                    <igx-icon class="icon_3">
                      flag
                    </igx-icon>
                  </span>
                </igx-list-item>
                <igx-list-item [isHeader]="false">
                  <span igxListThumbnail>
                    <igx-avatar src="/assets/1737495fa8ec3f098d79abfbc023d06be0fd5af5.png" shape="circle" class="avatar"></igx-avatar>
                  </span>
                  <span igxListLineTitle>Donnie Darko</span>
                  <span igxListLineSubTitle>On vacations, Oct 10-23</span>
                  <span igxListAction>
                    <igx-icon class="icon_3">
                      beach_access
                    </igx-icon>
                  </span>
                </igx-list-item>
                <igx-list-item [isHeader]="false">
                  <span igxListThumbnail>
                    <igx-avatar src="/assets/82823037f5532db28af8148c323c22706c7c230f.png" shape="circle" class="avatar"></igx-avatar>
                  </span>
                  <span igxListLineTitle>Edna Mode</span>
                  <span igxListLineSubTitle>Visiting customer</span>
                  <span igxListAction>
                    <igx-icon class="icon_3">
                      airplanemode_active
                    </igx-icon>
                  </span>
                </igx-list-item>
              </igx-list>
            </div>
          </div>
        </div>
        <div class="column-layout right_1">
          <div class="row-layout heading">
            <p class="ig-typography__subtitle-2 whats-happening-at">
              What's happening at Rapid Fission Inc.
            </p>
            <p class="ig-typography__subtitle-2 announcements-1">
              Announcements (1)
            </p>
          </div>
          <igx-list class="list_2">
            <igx-list-item [isHeader]="false">
              <span igxListThumbnail>
                <igx-avatar src="/assets/7408f608188b677d4147ea32ec02abd7370e8ec6.png" shape="circle" class="avatar"></igx-avatar>
              </span>
              <span igxListLineTitle>George Bailey posted  an announcement, awards, and call for nominations</span>
              <span igxListLineSubTitle>19 days ago</span>
              <span igxListAction>
                <igx-icon class="icon_3">
                  clear
                </igx-icon>
              </span>
            </igx-list-item>
          </igx-list>
          <p class="ig-typography__subtitle-2 my-benefits">
            MY BENEFITS
          </p>
          <igx-list class="list_3">
            <igx-list-item [isHeader]="false">
              <span igxListThumbnail>
                <igx-avatar shape="circle" class="avatar_1 avatar_1_1">
                  <igx-icon>
                    security
                  </igx-icon>
                </igx-avatar>
              </span>
              <span igxListLineTitle>Radiation protection health insurance plan</span>
              <span igxListLineSubTitle>$600 every other week</span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListThumbnail>
                <igx-avatar shape="circle" class="avatar_1 avatar_1_2">
                  <igx-icon>
                    visibility
                  </igx-icon>
                </igx-avatar>
              </span>
              <span igxListLineTitle>20/20 Vision plans here</span>
              <span igxListLineSubTitle>$234 every other week</span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListThumbnail>
                <igx-avatar shape="circle" class="avatar_1 avatar_1_3">
                  <igx-icon>
                    child_friendly
                  </igx-icon>
                </igx-avatar>
              </span>
              <span igxListLineTitle>Child care savings</span>
              <span igxListLineSubTitle>$4955 remaining</span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListThumbnail>
                <igx-avatar shape="circle" class="avatar_1 avatar_1_4">
                  <igx-icon>
                    security
                  </igx-icon>
                </igx-avatar>
              </span>
              <span igxListLineTitle>Fire hazard protection  </span>
              <span igxListLineSubTitle>On da house!</span>
            </igx-list-item>
          </igx-list>
        </div>
      </div>
      <p class="ig-typography__body-2 c-2020-rapid-fissi">
        (c) 2020 Rapid Fission Inc.
      </p>
    </div>
  </div>
</div>
